.ctop-container {
    display: flex;
    background-color:rgba(241, 244, 247, 0.555);
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
    height: 2em;
    margin: 0px;
    background-color:#f6a400c4;
    
}
.cp{
    align-self: center;
    color:black;
    font-style: oblique;
}
.cnavitem{
    justify-content: left;
}
.cnavbar-div{
    background:rgba(241, 244, 247, 0.555);
    margin: 0px;
    padding: 0px;
}
.cheader-logo{
    width: 120px;
    height: 50px;
}
.cnavbar-toggler{
    width: 50%;
    
}
.cnav-link{
    font-style: oblique;
    font-weight: 500;
}
.cnav-link:hover{
 background-color:#f6a400c4;
}
.cnavitem-div:hover{
    height: 60px;
    border-bottom: 4px solid blue;
    border-radius: 6px;
    transition-duration: 200ms;
}