@import url('https://fonts.googleapis.com/css2?family=Asul:wght@700&display=swap');
@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';
::-webkit-scrollbar{
  display: none;
}

body {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  background-color: rgba(92, 116, 161, 0.011) !important;
  /* background-color: #172D13 !important; */
  font-family: -apple-system, BlinkMacSyste'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Navbar */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.zoom:hover{
 transform: scale(1.1);
}
.zoom{
  transform: scale(1.056);
 }

 

 /* Bottom NAvbar */
 
 .iicon {
     height: 45px;
     border-radius: 30px;
     padding-top: 12px;
     padding-bottom: 38px;
     padding-right: 12px;
     padding-left: 5px;
     margin-bottom: 8px;
     margin-right: 2px; 
     /* background-color: rgba(102,212,202,.7); */
 }

 .youtube{
  color:#FF0000;
 }
.whatsapp{
  color:#25D366;
}
.linkedin{
  color: #0A66C2;
}
.facebook{
  color: #1877F2;
}
.instagram{
  color: #F33FD8;
} 
 .iicon:hover{
   transform: scale(1.5);
   transition-duration: 25ms;
 }
 
 .clgaddress {
     font-family: 'Asul', sans-serif;
     color: black;
     font-size: 18px;
     font-weight: 500;
 }
 
 .heading {
     color:black;
     font-weight: 700;
     font-size: 20px;
     font-family: "roboto";
 }
 
 .list {
     list-style-type: none;
     padding-left: 0px;
 }
 span {
     font-size: 18px;
     padding-left: .8rem;
     color: rgb(0, 0, 0);
     font-family: "Roboto";
     font-weight: 300;
 
 }
 
 .mainbottomnavbardiv{
  border-top: 1px solid rgba(0, 0, 0, .2);
  /* background-color: rgba(215, 214, 223, 0.919); */
  padding-top: .1rem;
 }




  /* No Wrap in ann delete section Dashboard */
  .overflowcut {
      max-width: 95%;
      margin-bottom: .4rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }


.mySwiper{
    display: block;
    height: 28rem;
  }






.placement-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  /* background-color:#f1f4f7; */
}

.placement-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placement-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.placement-icon:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.placement-details {
  text-align: center;
}

.placement-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.placement-details p {
  font-size: 36px;
  font-weight: bold;
  color: #3d3d3d;
}

/* Contact */

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700');

.xcontainer {
  background: #F8F8F8;
  width: 900px;
  height: 600px;
  margin: 5% auto;
  box-shadow: 0px 0px 10px #C8C7D9;
  position: relative;
}

.xcontainer .map {
  width: 45%;
  float: left;
}

.xcontainer .xcontact-form {
  width: 53%;
  margin-left: 2%;
  float: left;
}

.xcontainer .xcontact-form .xtitle {
  font-size: 2.5em
}










@media screen and (max-width: 480px)
and (orientation: portrait) {
  .carmobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-position: center;
   background-size: 40rem  !important;
   height: 20rem !important;
   
  }
   .mySwiper{
     display: block;
     height: auto;
   }

  .placement-icon {
    width: 80px;
    height: 80px;
  }
  .placement-details h3 {
    font-size: 18px;
  }
  .placement-details p {
    font-size: 30px;
  }
  .icimg{
    width: 18rem !important;
  }
}


@media screen and (max-width: 480px)
and (orientation: landscape) {
  .carmobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-position: center;
   background-size: 40rem  !important;
   height: 20rem !important;
   
  }
  .icimg{
    width: 18rem !important;
  }
 
}

/* MD Screen */
@media screen and (min-width: 768px) and (max-width: 1023px){
  .carmobile {
    display: flex;
    height: 20rem !important;
    flex-direction: row;
    justify-content: center;
    background-position: center;
    background-size: 54rem  !important;
   
  }
  .icimg{
    width:24rem !important
  }
  .mySwiper{
    display: block;
    height: auto;
  }
  
 
}

/* Dashboard Main Page CSS */
.d-admin-form {
  margin: 50px auto;
  width: 400px;
  padding: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.d-form-title {
  text-align: center;
}

.d-form-group {
  margin-bottom: 20px;
}

.d-form-label {
  display: block;
  margin-bottom: 5px;
}

.d-form-input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #e8e8e8;
}

.d-form-btn {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #0077ff;
  color: #fff;
  font-size: 16
}

.formnote{
    font-size: 15px;
    color: #666;
    margin-top: 10px;
}

input[type="file"]{
  font-family:serif;
  border: .1px solid #d1d1d1;
  border-radius: .20rem;
  width: 100%;
}


